<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leng.sguide.module.leung.dao.ProductDao">

    <!-- 以下代码片段中,product表的别名为RA -->

    <!-- product表的字段 -->
    <sql id ="product_columns">
        RA.id,RA.userId,RA.productName,RA.productIntro,RA.tag,RA.centPrice,RA.isShip,RA.scanAmount,RA.saleAmount,RA.img,RA.originPrice,RA.activityPrice,RA.advPrice,RA.productAmount,RA.score,RA.createTime,RA.updateTime
    </sql>

    
    <!-- product表的resultMap映射 -->
    <resultMap id="entityResultMap" type="com.leng.sguide.module.leung.entity.ProductEntity">
        <id  property="id"  column="id"/>
        <result  property="userId"  column="userId"/>
        <result  property="productName"  column="productName"/>
        <result  property="productIntro"  column="productIntro"/>
        <result  property="tag"  column="tag"/>
        <result  property="centPrice"  column="centPrice"/>
        <result  property="isShip"  column="isShip"/>
        <result  property="scanAmount"  column="scanAmount"/>
        <result  property="saleAmount"  column="saleAmount"/>
        <result  property="img"  column="img"/>
        <result  property="originPrice"  column="originPrice"/>
        <result  property="activityPrice"  column="activityPrice"/>
        <result  property="advPrice"  column="advPrice"/>
        <result  property="productAmount"  column="productAmount"/>
        <result  property="score"  column="score"/>
        <result  property="createTime"  column="createTime"/>
        <result  property="updateTime"  column="updateTime"/>
    </resultMap>


    <!-- 添加一条记录 -->
    <insert id="insertEntity" parameterType="com.leng.sguide.module.leung.entity.ProductEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            userId,
            productName,
            productIntro,
            tag,
            centPrice,
            isShip,
            scanAmount,
            saleAmount,
            img,
            originPrice,
            activityPrice,
            advPrice,
            productAmount,
            score,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            #{userId},
            #{productName},
            #{productIntro},
            #{tag},
            #{centPrice},
            #{isShip},
            #{scanAmount},
            #{saleAmount},
            #{img},
            #{originPrice},
            #{activityPrice},
            #{advPrice},
            #{productAmount},
            #{score},
        </trim>
    </insert>


    <!-- 批量添加 -->
    <insert id="insertEntityByBatch" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product
        <trim prefix="(" suffix=") VALUES" suffixOverrides=",">
            id,
            userId,
            productName,
            productIntro,
            tag,
            centPrice,
            isShip,
            scanAmount,
            saleAmount,
            img,
            originPrice,
            activityPrice,
            advPrice,
            productAmount,
            score,
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
        (
            #{item.id},
            #{item.userId},
            #{item.productName},
            #{item.productIntro},
            #{item.tag},
            #{item.centPrice},
            #{item.isShip},
            #{item.scanAmount},
            #{item.saleAmount},
            #{item.img},
            #{item.originPrice},
            #{item.activityPrice},
            #{item.advPrice},
            #{item.productAmount},
            #{item.score}
        )
        </foreach>
    </insert>


    <!-- 更新一条记录 -->
    <update id="updateEntity" parameterType="com.leng.sguide.module.leung.entity.ProductEntity">
        UPDATE product
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">
                userId = #{userId},
            </if>
            <if test="productName != null">
                productName = #{productName},
            </if>
            <if test="productIntro != null">
                productIntro = #{productIntro},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="centPrice != null">
                centPrice = #{centPrice},
            </if>
            <if test="isShip != null">
                isShip = #{isShip},
            </if>
            <if test="scanAmount != null">
                scanAmount = #{scanAmount},
            </if>
            <if test="saleAmount != null">
                saleAmount = #{saleAmount},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="originPrice != null">
                originPrice = #{originPrice},
            </if>
            <if test="activityPrice != null">
                activityPrice = #{activityPrice},
            </if>
            <if test="advPrice != null">
                advPrice = #{advPrice},
            </if>
            <if test="productAmount != null">
                productAmount = #{productAmount},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
        </trim>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除一条记录 -->
    <delete id="deleteEntity">
        DELETE FROM product WHERE id = #{0}
    </delete>


    <!-- 根据列条件查询实体类信息 -->
    <sql id="whereColumns">
        <if test="id != null">
            AND RA.id = #{id}
        </if>
        <if test="userId != null">
            AND RA.userId = #{userId}
        </if>
        <if test="productName != null">
            AND RA.productName = #{productName}
        </if>
        <if test="productIntro != null">
            AND RA.productIntro = #{productIntro}
        </if>
        <if test="tag != null">
            AND RA.tag = #{tag}
        </if>
        <if test="centPrice != null">
            AND RA.centPrice = #{centPrice}
        </if>
        <if test="isShip != null">
            AND RA.isShip = #{isShip}
        </if>
        <if test="scanAmount != null">
            AND RA.scanAmount = #{scanAmount}
        </if>
        <if test="saleAmount != null">
            AND RA.saleAmount = #{saleAmount}
        </if>
        <if test="img != null">
            AND RA.img = #{img}
        </if>
        <if test="originPrice != null">
            AND RA.originPrice = #{originPrice}
        </if>
        <if test="activityPrice != null">
            AND RA.activityPrice = #{activityPrice}
        </if>
        <if test="advPrice != null">
            AND RA.advPrice = #{advPrice}
        </if>
        <if test="productAmount != null">
            AND RA.productAmount = #{productAmount}
        </if>
        <if test="score != null">
            AND RA.score = #{score}
        </if>
        <if test="createTime != null">
            AND RA.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND RA.updateTime = #{updateTime}
        </if>
    </sql>


    <!-- 根据主键查找对应实体类 -->
    <select id="findEntityByMainId" resultType="com.leng.sguide.module.leung.entity.ProductEntity">
        SELECT
            <include refid="product_columns"></include>
        FROM product RA
        WHERE id = #{0}
    </select>


    <!-- 根据条件查出来是单条实体类 -->
    <select id="findEntityByOne" parameterType="com.leng.sguide.module.leung.entity.ProductEntity" resultType="com.leng.sguide.module.leung.entity.ProductEntity">
        SELECT
            <include refid="product_columns"></include>
        FROM
            product RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 根据列条件查找实体类集合 -->
    <select id="findEntityList" parameterType="com.leng.sguide.module.leung.entity.ProductEntity" resultType="com.leng.sguide.module.leung.entity.ProductEntity">
        SELECT
            <include refid="product_columns"></include>
        FROM
            product RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 查询记录数 -->
    <select id="findEntityCount" parameterType="com.leng.sguide.module.leung.entity.ProductEntity" resultType="long">
        SELECT
            count(1)
        FROM
            product RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 单表分页查询 -->
    <select id="findPageEntityList" parameterType="map" resultType="com.leng.sguide.module.leung.entity.ProductEntity">
        SELECT
            <include refid="product_columns"></include>
        FROM
            product RA
        <where>
            <include refid="whereColumns"></include>
        </where>
        ORDER BY
        <choose>
            <when test="orderColumn!=null">
                RA.${orderColumn}
            </when>
            <otherwise>
                RA.createTime
            </otherwise>
        </choose>
        <choose>
            <when test="sortColumn!=null">
                ${sortColumn}
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
        LIMIT #{pageStart},#{pageSize}
    </select>


    <!-- 单表分页查询总计数量 -->
    <select id="findPageEntityCount" parameterType="map" resultType="long">
        SELECT
            count(1)
        FROM
            product RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


</mapper>