<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leng.sguide.module.leung.dao.ShopDao">

    <!-- 以下代码片段中,shop表的别名为RA -->

    <!-- shop表的字段 -->
    <sql id ="shop_columns">
        RA.id,RA.productId,RA.userId,RA.createTime,RA.updateTime
    </sql>

    
    <!-- shop表的resultMap映射 -->
    <resultMap id="entityResultMap" type="com.leng.sguide.module.leung.entity.ShopEntity">
        <id  property="id"  column="id"/>
        <result  property="productId"  column="productId"/>
        <result  property="userId"  column="userId"/>
        <result  property="createTime"  column="createTime"/>
        <result  property="updateTime"  column="updateTime"/>
    </resultMap>


    <!-- 添加一条记录 -->
    <insert id="insertEntity" parameterType="com.leng.sguide.module.leung.entity.ShopEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            productId,
            userId,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            #{productId},
            #{userId},
        </trim>
    </insert>


    <!-- 批量添加 -->
    <insert id="insertEntityByBatch" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO shop
        <trim prefix="(" suffix=") VALUES" suffixOverrides=",">
            id,
            productId,
            userId,
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
        (
            #{item.id},
            #{item.productId},
            #{item.userId}
        )
        </foreach>
    </insert>


    <!-- 更新一条记录 -->
    <update id="updateEntity" parameterType="com.leng.sguide.module.leung.entity.ShopEntity">
        UPDATE shop
        <trim prefix="set" suffixOverrides=",">
            <if test="productId != null">
                productId = #{productId},
            </if>
            <if test="userId != null">
                userId = #{userId},
            </if>
        </trim>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除一条记录 -->
    <delete id="deleteEntity">
        DELETE FROM shop WHERE id = #{0}
    </delete>


    <!-- 根据列条件查询实体类信息 -->
    <sql id="whereColumns">
        <if test="id != null">
            AND RA.id = #{id}
        </if>
        <if test="productId != null">
            AND RA.productId = #{productId}
        </if>
        <if test="userId != null">
            AND RA.userId = #{userId}
        </if>
        <if test="createTime != null">
            AND RA.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND RA.updateTime = #{updateTime}
        </if>
    </sql>


    <!-- 根据主键查找对应实体类 -->
    <select id="findEntityByMainId" resultType="com.leng.sguide.module.leung.entity.ShopEntity">
        SELECT
            <include refid="shop_columns"></include>
        FROM shop RA
        WHERE id = #{0}
    </select>


    <!-- 根据条件查出来是单条实体类 -->
    <select id="findEntityByOne" parameterType="com.leng.sguide.module.leung.entity.ShopEntity" resultType="com.leng.sguide.module.leung.entity.ShopEntity">
        SELECT
            <include refid="shop_columns"></include>
        FROM
            shop RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 根据列条件查找实体类集合 -->
    <select id="findEntityList" parameterType="com.leng.sguide.module.leung.entity.ShopEntity" resultType="com.leng.sguide.module.leung.entity.ShopEntity">
        SELECT
            <include refid="shop_columns"></include>
        FROM
            shop RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 查询记录数 -->
    <select id="findEntityCount" parameterType="com.leng.sguide.module.leung.entity.ShopEntity" resultType="long">
        SELECT
            count(1)
        FROM
            shop RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 单表分页查询 -->
    <select id="findPageEntityList" parameterType="map" resultType="com.leng.sguide.module.leung.entity.ShopEntity">
        SELECT
            <include refid="shop_columns"></include>
        FROM
            shop RA
        <where>
            <include refid="whereColumns"></include>
        </where>
        ORDER BY
        <choose>
            <when test="orderColumn!=null">
                RA.${orderColumn}
            </when>
            <otherwise>
                RA.createTime
            </otherwise>
        </choose>
        <choose>
            <when test="sortColumn!=null">
                ${sortColumn}
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
        LIMIT #{pageStart},#{pageSize}
    </select>


    <!-- 单表分页查询总计数量 -->
    <select id="findPageEntityCount" parameterType="map" resultType="long">
        SELECT
            count(1)
        FROM
            shop RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


</mapper>