.el-input {
    display: inline-block;
    width: 70%;
}
.el-form-item{
    margin-bottom: 10px;
}
.el-form-item__label{
    color:#fff;
}
.el-radio{
    color:#fff;
}
.el-input__inner{
    height:35px;
}
.el-table{
    text-align: center;
}
.el-table thead th{
    text-align: center;
}
.college-select .collegeSelect .el-select,
.profession-select .professionSelect .el-select,
.teacher-select .el-select{
    width:305px;
}
.el-tree-node__label{
    font-size: 15px;
}
.el-tree-node__content{
    height: 30px;
    margin-bottom: 5px;
}
.el-dialog__body{
    padding-top:10px;
}
