<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gz.evalution.module.area.dao.AreaCityDao">

    <!-- 以下代码片段中,area_city表的别名为RA -->

    <!-- area_city表的字段 -->
    <sql id ="area_city_columns">
        RA.id,RA.cityId,RA.cityName,RA.fatherId,RA.createTime,RA.updateTime,RA.test
    </sql>

    
    <!-- area_city表的resultMap映射 -->
    <resultMap id="entityResultMap" type="com.gz.evalution.module.area.entity.AreaCityEntity">
        <id  property="id"  column="id"/>
        <result  property="cityId"  column="cityId"/>
        <result  property="cityName"  column="cityName"/>
        <result  property="fatherId"  column="fatherId"/>
        <result  property="createTime"  column="createTime"/>
        <result  property="updateTime"  column="updateTime"/>
        <result  property="test"  column="test"/>
    </resultMap>


    <!-- 添加一条记录 -->
    <insert id="insertEntity" parameterType="com.gz.evalution.module.area.entity.AreaCityEntity">
        INSERT INTO area_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            cityId,
            cityName,
            fatherId,
            test,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            #{cityId},
            #{cityName},
            #{fatherId},
            #{test},
        </trim>
    </insert>


    <!-- 批量添加 -->
    <insert id="insertEntityByBatch" parameterType="list">
        INSERT INTO area_city
        <trim prefix="(" suffix=") VALUES" suffixOverrides=",">
            id,
            cityId,
            cityName,
            fatherId,
            test,
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
        (
            #{item.id},
            #{item.cityId},
            #{item.cityName},
            #{item.fatherId},
            #{item.test}
        )
        </foreach>
    </insert>


    <!-- 更新一条记录 -->
    <update id="updateEntity" parameterType="com.gz.evalution.module.area.entity.AreaCityEntity">
        UPDATE area_city
        <trim prefix="set" suffixOverrides=",">
            <if test="cityId != null">
                cityId = #{cityId},
            </if>
            <if test="cityName != null">
                cityName = #{cityName},
            </if>
            <if test="fatherId != null">
                fatherId = #{fatherId},
            </if>
            <if test="test != null">
                test = #{test},
            </if>
        </trim>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除一条记录 -->
    <delete id="deleteEntity">
        DELETE FROM area_city WHERE id = #{0}
    </delete>


    <!-- 根据列条件查询实体类信息 -->
    <sql id="whereColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                RA.id = #{id},
            </if>
            <if test="cityId != null">
                RA.cityId = #{cityId},
            </if>
            <if test="cityName != null">
                RA.cityName = #{cityName},
            </if>
            <if test="fatherId != null">
                RA.fatherId = #{fatherId},
            </if>
            <if test="createTime != null">
                RA.createTime = #{createTime},
            </if>
            <if test="updateTime != null">
                RA.updateTime = #{updateTime},
            </if>
            <if test="test != null">
                RA.test = #{test},
            </if>
        </trim>
    </sql>


    <!-- 根据主键查找对应实体类 -->
    <select id="findEntityByMainId" resultType="com.gz.evalution.module.area.entity.AreaCityEntity">
        SELECT
            <include refid="area_city_columns"></include>
        FROM area_city RA
        WHERE id = #{0}
    </select>


    <!-- 根据条件查出来是单条实体类 -->
    <select id="findEntityByOne" parameterType="com.gz.evalution.module.area.entity.AreaCityEntity" resultType="com.gz.evalution.module.area.entity.AreaCityEntity">
        SELECT
            <include refid="area_city_columns"></include>
        FROM
            area_city RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 根据列条件查找实体类集合 -->
    <select id="findEntityList" parameterType="com.gz.evalution.module.area.entity.AreaCityEntity" resultType="com.gz.evalution.module.area.entity.AreaCityEntity">
        SELECT
            <include refid="area_city_columns"></include>
        FROM
            area_city RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 查询记录数 -->
    <select id="findEntityCount" parameterType="com.gz.evalution.module.area.entity.AreaCityEntity" resultType="long">
        SELECT
            count(1)
        FROM
            area_city RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 单表分页查询 -->
    <select id="findPageEntityList" parameterType="map" resultType="com.gz.evalution.module.area.entity.AreaCityEntity">
        SELECT
            <include refid="area_city_columns"></include>
        FROM
            area_city RA
        <if test="start!=null and pageSize !=null">
            LIMIT #{start},#{pageSize}
        </if>
    </select>


</mapper>