<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tt.association.module.ass.dao.RemarkDao">

    <!-- 以下代码片段中,remark表的别名为RA -->

    <!-- remark表的字段 -->
    <sql id ="remark_columns">
        RA.id,RA.remark,RA.createTime,RA.updateTime
    </sql>


    <!-- remark表的resultMap映射 -->
    <resultMap id="entityResultMap" type="com.tt.association.module.ass.entity.RemarkEntity">
        <id  property="id"  column="id"/>
        <result  property="remark"  column="remark"/>
        <result  property="createTime"  column="createTime"/>
        <result  property="updateTime"  column="updateTime"/>
    </resultMap>


    <!-- 添加一条记录 -->
    <insert id="insertEntity" parameterType="com.tt.association.module.ass.entity.RemarkEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO remark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            remark,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            #{remark},
        </trim>
    </insert>


    <!-- 批量添加 -->
    <insert id="insertEntityByBatch" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO remark
        <trim prefix="(" suffix=") VALUES" suffixOverrides=",">
            id,
            remark,
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id},
            #{item.remark}
            )
        </foreach>
    </insert>


    <!-- 更新一条记录 -->
    <update id="updateEntity" parameterType="com.tt.association.module.ass.entity.RemarkEntity">
        UPDATE remark
        <trim prefix="set" suffixOverrides=",">
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除一条记录 -->
    <delete id="deleteEntity">
        DELETE FROM remark WHERE id = #{0}
    </delete>


    <!-- 根据列条件查询实体类信息 -->
    <sql id="whereColumns">
        <if test="id != null">
            AND RA.id = #{id}
        </if>
        <if test="remark != null">
            AND RA.remark = #{remark}
        </if>
        <if test="createTime != null">
            AND RA.createTime = #{createTime}
        </if>
        <if test="updateTime != null">
            AND RA.updateTime = #{updateTime}
        </if>
    </sql>


    <!-- 根据主键查找对应实体类 -->
    <select id="findEntityByMainId" resultType="com.tt.association.module.ass.entity.RemarkEntity">
        SELECT
        <include refid="remark_columns"></include>
        FROM remark RA
        WHERE id = #{0}
    </select>


    <!-- 根据条件查出来是单条实体类 -->
    <select id="findEntityByOne" parameterType="com.tt.association.module.ass.entity.RemarkEntity" resultType="com.tt.association.module.ass.entity.RemarkEntity">
        SELECT
        <include refid="remark_columns"></include>
        FROM
        remark RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 根据列条件查找实体类集合 -->
    <select id="findEntityList" parameterType="com.tt.association.module.ass.entity.RemarkEntity" resultType="com.tt.association.module.ass.entity.RemarkEntity">
        SELECT
        <include refid="remark_columns"></include>
        FROM
        remark RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 查询记录数 -->
    <select id="findEntityCount" parameterType="com.tt.association.module.ass.entity.RemarkEntity" resultType="long">
        SELECT
        count(1)
        FROM
        remark RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


    <!-- 单表分页查询 -->
    <select id="findPageEntityList" parameterType="map" resultType="com.tt.association.module.ass.entity.RemarkEntity">
        SELECT
        <include refid="remark_columns"></include>
        FROM
        remark RA
        <where>
            <include refid="whereColumns"></include>
        </where>
        ORDER BY
        <choose>
            <when test="orderColumn!=null">
                RA.${orderColumn}
            </when>
            <otherwise>
                RA.createTime
            </otherwise>
        </choose>
        <choose>
            <when test="sortColumn!=null">
                ${sortColumn}
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
        LIMIT #{pageStart},#{pageSize}
    </select>


    <!-- 单表分页查询总计数量 -->
    <select id="findPageEntityCount" parameterType="map" resultType="long">
        SELECT
        count(1)
        FROM
        remark RA
        <where>
            <include refid="whereColumns"></include>
        </where>
    </select>


</mapper>